@model FML.WebApp.MVC.ViewModels.FamilyTreeViewModel

<ul class="tree">
    <li id="group-@Model.Id">
        <a href="#group-@Model.Id" class="toggle center-text">
            @Model.Pessoa1?.FullName
            @if (!string.IsNullOrEmpty(Model.Pessoa2?.FullName))
            {
                @: e @Model.Pessoa2.FullName
            }
        </a>
        @if (Model.Filhos.Any())
        {
            <ul class="hidden">
                @foreach (var filho in Model.Filhos)
                {
                    <partial name="_FamilyTree" model="filho" />
                }
            </ul>
        }
    </li>
</ul>
