@model Familia.WebApp.MVC.Models.UsuarioRegistro

@{
    ViewData["Title"] = "Retgistro";
}

<section class="section-conten padding-y container" style="min-height: 35vh">

    <div class="card mx-auto" style="max-width: 380px; margin-top: 100px;">

        <div class="card-body">
            <h4 class="card-title mb-4">Bem Vindo!</h4>

            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">

                <div class="form-group">
                    <label asp-for="Nome"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="BirthDate"></label>
                    <input asp-for="BirthDate" type="date" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Gender"></label>
                    <select asp-for="Gender" class="form-control">
                        <option value="">Select Gender</option>
                        @foreach (var gender in Enum.GetValues(typeof(Gender)))
                        {
                            <option value="@gender">@gender</option>
                        }
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Senha"></label>
                    <input type="password" asp-for="Senha" class="form-control" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="SenhaConfirmacao"></label>
                    <input type="password" asp-for="SenhaConfirmacao" class="form-control" />
                    <span asp-validation-for="SenhaConfirmacao" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                </div>
            </form>
        </div>
        <div class="card-footer text-center">Já tem uma conta?<a asp-controller="Identidade" asp-action="Login"> Login</a></div>
    </div>

</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
