@using Familia.WebApp.MVC.Extensions
@using FML.Core.Data
@inject IAspNetUser AppUser

<ul class="navbar-nav">
    @if (AppUser.EstaAutenticado())
    {
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Galeria" asp-action="Index">Galeria</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Evento" asp-action="Index">Amigo Oculto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="ListaDeDesejos" asp-action="Index">Lista de Desejos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Familia" asp-action="FamilyTree">Árvore Genealógica</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Familia" asp-action="Index">Lista de Familiares</a>
            </li>
        </ul>
    }
    else
    {
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
        </ul>
    }
</ul>
